{% extends "base.html" %}

{% block head %}
{% endblock %}

{% block content %}
<h2> Lorries </h2>
<table>
  <tr>
    <th>Name</th>
    <th>Interval</th>
    <th>Timeout</th>
    <th>Last Run</th>
    <th>Last Job</th>
    <th>Warnings</th>
    <th>Status</th>
  </tr>
{% for lorry in lorries %}
<tr>
  <td> <a href="/jobs/{{lorry.path}}">{{ lorry.path }}</a>▪️ <a href="/spec/{{lorry.path}}">spec</a> </td>
  <td> {{ lorry.interval|friendly_duration }} </td>
  <td> {{ lorry.timeout|friendly_duration }} </td>
  <td> {{ lorry.last_run|friendly_time }} </td>
  <td> {{ lorry.last_status|pretty_job_status|safe }} </td>
  <td> {{ lorry.last_warnings|pretty_warning_count|safe }} </td>
  <td>{{ lorry.status|pretty_status|safe }}</td>
<tr>
{% endfor %}
</table>
{% endblock %}
