{% extends "base.html" %}

{% block head %}
{% endblock %}

{% block content %}

<h5> Mirror: {{ name }} </h5>

<form action="{{this_url}}" method="post">
  <button type="submit">Schedule Run</button>
</form>

<table>
  <tr>
    <th> Id </th>
    <th> Started </th>
    <th> Runtime </th>
    <th> Status </th>
    <th> Warnings </th>
  </tr>

{% for job in jobs %}
<tr>
  <td> <a href="/job/{{job.id}}">{{ job.id }}</a></td>
  <td> {{ job.started|friendly_time }} </td>
  {% if let Some(ended) = job.ended %}
  <td> {{ job.started|duration_between(ended) }} </td>
  {% else %}
  <td> <label>-</label> </td>
  {% endif %}
  <td>{{ job.status|pretty_job_status|safe }}</td>
  <td>{{ job.warnings|pretty_warning_count|safe}}</td>
</tr>
{% endfor %}
</table>
{% endblock %}
